.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  width: 100%;
  gap: 20px;
}

.cardLink {
  text-decoration: none;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-4px);
  }
}

.cardIcon {
  font-size: 2.5rem;
  line-height: 1;
}
